html {
  scroll-behavior: smooth;
 }

body {
  padding-left: 60px;
  padding-right: 60px;
}

/* SETUP FONTS */
p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  /* text-decoration: underline; */
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}


h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

/* LOGO */
#ELE_logo  {
  font-family: 'Libre Baskerville', serif;
  font-size: 24pt;
}


/* NAVBAR */
.navbar  {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0px;
  height: 60px;
  /* background-color: white; */
}

.navbar-brand  {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16pt;
}

.nav-link  {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.nav-link:hover {
  font-weight: 600;
  /* text-decoration:line-through; */
}

.hidden-anchor {
    position: relative;
    top: 0px;
 }

/* TOP CAROUSEL */
#topCarousel  {
  margin-left: -60px;
  margin-right: -60px;
}


/* ABOUT */
.about {
  margin-top: 5rem;
  margin-bottom: 16rem;
  text-align: justify;
}




.contact {
  margin-top: 5rem;
  margin-bottom: 16rem;
  text-align: justify;
}


/* POTFOLIO */

.portfolioStartItem{
  height: 0rem;
  margin-top: 5rem;
}

.carousel-caption {
  /* text-align: left; */
  position: relative;
  left: 0;
  top: 0;
  height: 2rem
}



.portfolioItem {
  margin-top: 6rem;
  margin-bottom: 10rem;
}


#caption-left {
  text-align: left;
}

#caption-right {
  text-align: right;
}

.portfolioItemHeader * {
  height: 5rem;
  text-align: left;
  vertical-align: bottom;
}

#itemDescription{
  text-align: right;
}

#itemSubscription{
  text-align: left;
}

.carousel-control-prev {
  cursor: url(img/arrow-left.svg), auto;
}

.carousel-control-next {
  cursor: url(img/arrow-right.svg), auto;
}




/* INSTAGRAM */
.instagram  {
  url(instagram.svg), auto;
}


/* FOOTER */
.footer  {
  padding-left: 0px;
  padding-right: 0px;
  height: 82px;
}

#footerTag  {
  padding: 0px;
}
